.Maindivcard{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    
}
.Mainheading{
    color: #220a0a;
    font-size: 40px;
    margin-bottom: 20px;
}
.catergeriesSection{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 15px;
}
.card:hover{
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}
.Trending{
    color: #220a0a;
    font-size: 40px;
    margin-bottom: 20px;
}
.TrendingBlogsSection{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px;
}